# Build output
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Go workspace
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Debug
*.log
debug/

# settings
CertDeploy/
config.json

# Temp
nul
coverage.out
